{{template "header.html" . -}}
<div class="refs">
    <h2>Branches</h2>
    {{if .Branches -}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Commit</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
            {{range .Branches -}}
            <tr>
                <td>{{.Name -}}</td>
                <td>
                    <code>{{.CommitHash -}}</code>
                </td>
                <td>
                    <a href="/{{$.GlobalData.Config.RepoName -}}{{.LogLink -}}">log</a>
                </td>
            </tr>
            {{end -}}
        </tbody>
    </table>
    {{else -}}
    <p>No branches found.</p>
    {{end -}}
</div>
{{template "footer.html" . -}}
