{{template "header.html" . -}}
{{template "nav.html" . -}}
<div id="commitinfo">
<table>
<tr>
<td class="left">
Commit:
</td>
<td class="left">
{{.Id -}}
</td>
</tr>
<tr>
{{if .HasAnyParents -}}
<td class="left">
Parent(s):
</td>
<td class="left">
{{range .Parents -}}
<a href="/{{$.GlobalData.Config.RepoName -}}/commit/{{. -}}.html">{{. -}}</a><br>
{{end -}}
</td>
</tr>
{{end -}}
<tr>
<td class="left">
Author:
</td>
<td class="left">
{{.Author -}} &lt;<a href="mailto:{{.Mail -}}">{{.Mail}}</a>&gt;
</td>
</tr>
<tr>
<td class="left">
Date:
</td>
<td class="left">
{{.Date.Format "2006-01-02 15:04:05" -}}
</td>
</tr>
<tr>
<td class="left">
Message:
</td>
<td class="left">
<div id="commitmsg">
{{range .MsgLines -}}
<pre>
{{. -}}
</pre>
{{end -}}
</div>
</td>
</tr>
</table>
</div>
<div id="diffstat">
{{template "linenumberer.html" .DiffStatLines -}}
</div>
{{template "footer.html" . -}}
