{{template "header.html" . -}}
{{template "nav.html" . -}}
<table>
<tr>
<th>
Commit:
</th>
<th>
{{.Id -}}
</th>
</tr>
<tr>
{{if .HasAnyParents -}}
<th>
Parent(s):
</th>
<th>
{{range .Parents -}}
<a href="/commit/{{. -}}.html">{{. -}}</a><br>
{{end -}}
</th>
</tr>
{{end -}}
<tr>
<th>
Author:
</th>
<th>
{{.Author -}} &lt;<a href="mailto:{{.Mail -}}">{{.Mail}}</a>&gt;
</th>
</tr>
<tr>
<th>
Date:
</th>
<th>
{{.Date.Format "2006-01-02 15:04:05" -}}
</th>
</tr>
</table>
{{.Msg -}}
<br>
<div style="border: 1px">
<pre>
</pre>
</div>
{{template "footer.html" . -}}
