{{template "header.html" . -}}
<div class="commitinfo">
<table>
<tr>
<td>
Commit:
</td>
<td>
{{.Id -}}
</td>
</tr>
<tr>
{{if .HasAnyParents -}}
<td>
Parent(s):
</td>
<td>
{{range .Parents -}}
<a href="/{{$.GlobalData.Config.RepoName -}}/commit/{{. -}}.html">{{. -}}</a><br>
{{end -}}
</td>
</tr>
{{end -}}
<tr>
<td>
Author:
</td>
<td>
{{.Author -}} &lt;<a href="mailto:{{.Mail -}}">{{.Mail}}</a>&gt;
</td>
</tr>
<tr>
<td>
Date:
</td>
<td>
{{.Date.Format "2006-01-02 15:04:05" -}}
</td>
</tr>
<tr>
<td>
Message:
</td>
<td>
<div class="commit-msg">
{{range .MsgLines -}}
<pre>
{{. -}}
</pre>
{{end -}}
</div>
</td>
</tr>
</table>
</div>
<div class="diffstat">
{{template "linenumberer.html" .DiffStatLines -}}
</div>
{{template "footer.html" . -}}
