<!DOCTYPE html>
<html lang="en">
<head>
<title>{{.GlobalData.Config.RepoName}}</title>
<style>
pre.code code {
	counter-increment: listing;
}
pre.code code::before {
	content: counter(listing) ". ";
	display: inline-block;
	width: 8em;
	text-align: right;
	background-color: ivory;
	border-style: none solid none none;
	border-width: 2px;
	margin-right: 0.5em;
	border-color: gray;
}
a.filelink {
	text-weight: normal;
	color:inherit;
}
table {
	text-align: left;
}
</style>
</head>
<body>
<header>
<h1>{{.GlobalData.Config.RepoName}}</h1>
<p><small><pre>git clone git://{{.GlobalData.Config.GitUrl}}/{{.GlobalData.Config.RepoName}}</pre></small><p>
</header>
<hr>
