{{template "header.html" . -}}
{{template "nav.html" . -}}
<div id="cloneurl">
<small>
<pre>git clone git://{{.GlobalData.Config.GitUrl}}/{{.GlobalData.Config.RepoName}}</pre>
</small>
</div>
{{if .CommitFound -}}
<div id="latestcommit">
<h3>Latest commit</h3>
<p>
<a href="/{{$.GlobalData.Config.RepoName}}{{.LatestCommit.Link}}">{{.LatestCommit.Msg}}</a>
<br>
<small>by {{.LatestCommit.Name}} on {{formatDate .LatestCommit.Date}}</small>
</p>
</div>
{{end -}}
{{if gt .ContributorsCt 0 -}}
<div id="contributors">
<h3>Contributors ({{.ContributorsCt}})</h3>
<ul>
{{range .Contributors -}}
<li>{{.Name}} &lt;{{.Email}}&gt;</li>
{{end -}}
</ul>
</div>
{{end -}}
{{if .TreeFound -}}
<div id="treelist">
<table>
<thead>
<tr>
<th class="left">Mode</th>
<th class="left">Name</th>
<th class="right">Size</th>
<th class="right">Last Modified</th>
<th class="left">Last Commit</th>
</tr>
</thead>
<tbody id="treeentries">
{{range .RootTree -}}
<tr>
<td class="left"><pre class="mode">{{.Mode -}}</pre></td>
<td class="left"><a {{if .IsFile -}}class="filelink"{{end -}}href="/{{$.GlobalData.Config.RepoName -}}{{.Link -}}">{{.Name -}}</a></td>
<td class="right"><pre class="size">{{if .IsFile}}{{.Size}}{{end -}}</pre></td>
<td class="right"><pre class="date">{{formatDate .LastModified -}}</pre></td>
<td class="left">{{if .LastCommitMsg -}}<a href="/{{$.GlobalData.Config.RepoName -}}{{.LastCommitLink -}}">{{.LastCommitMsg -}}</a>{{end -}}</td>
</tr>
{{end -}}
</tbody>
</table> 
</div>
{{end -}}
{{if .ReadmeFound -}}
{{if .ReadmeIsMarkdown -}}
<div class="fileview">
<div class="fileinfo">
<div class="fileinfo-left">
<p class="filename">{{.ReadmeFile.Name}}</p>
</div>
<div class="fileinfo-right">
{{if .ReadmeFile.LastCommitMsg -}}
<p class="commit-info">
<a href="{{.ReadmeFile.LastCommitLink}}">{{.ReadmeFile.LastCommitMsg}}</a>
<small> · {{.ReadmeFile.LastCommitAuthor}} · {{timeAgo .ReadmeFile.LastCommitDate}}</small>
</p>
{{- end}}
</div>
</div>
<div class="readme-markdown">
{{.ReadmeHTML}}
</div>
</div>
{{else -}}
{{template "fileview.html" .ReadmeFile -}}
{{end -}}
{{end -}}
{{if .LicenseFound -}}
{{template "fileview.html" .LicenseFile -}}
{{end -}}
{{template "footer.html" . -}}
