{{template "header.html" . -}}
<div class="horizontal-divider"></div>
<div class="two-column-container">
    <div class="main-content">
        {{if or .CommitFound .TreeFound -}}
        <div class="commit-tree-container">
            {{if .CommitFound -}}
            <div class="latest-commit">
                <div class="latest-commit-header">
                    <div>
                        <p class="commit-info">
                            <a href="/{{$.GlobalData.Config.RepoName}}{{.LatestCommit.Link}}">{{.LatestCommit.Msg}}</a>
                            <small>· {{.LatestCommit.Name}} · {{formatDate .LatestCommit.Date}}</small>
                        </p>
                    </div>
                    <div class="log-link muted">
                        {{range .GlobalData.Links -}} {{if eq .Pretty "log" -}}
                        <a href="/{{$.GlobalData.Config.RepoName -}}{{.Link}}">{{$.GlobalData.CommitCount}} commits</a>
                        {{end -}} {{end -}}
                    </div>
                </div>
            </div>
            {{end -}} {{if .TreeFound -}}
            <div class="treelist">
                <table>
                    <tbody id="treeentries">
                        {{range .RootTree -}}
                        <tr>
                            <td class="muted">
                                <pre class="mode">{{.Mode -}}</pre>
                            </td>
                            <td>
                                <a
                                    {{if
                                    .IsFile
                                    -}}
                                    class="filelink"
                                    {{end
                                    -}}
                                    href="/{{$.GlobalData.Config.RepoName -}}{{.Link -}}"
                                >{{.Name -}}</a>
                            </td>
                            <td class="muted">
                                <pre class="size">
{{if .IsFile}}{{.Size}}{{end -}}</pre>
                            </td>
                            <td class="muted">
                                <pre class="date">
{{formatDate .LastModified -}}</pre>
                            </td>
                            <td class="muted commitmsg">
                                {{if .LastCommitMsg -}}<a href="/{{$.GlobalData.Config.RepoName -}}{{.LastCommitLink -}}">{{.LastCommitMsg -}}</a>{{end -}}
                            </td>
                        </tr>
                        {{end -}}
                    </tbody>
                </table>
            </div>
            {{end -}}
        </div>
        {{end -}} {{if .ReadmeFound -}} {{if .ReadmeIsMarkdown -}}
        <div class="fileview">
            <div class="fileinfo">
                <div>
                    <p class="filename">{{.ReadmeFile.Name}}</p>
                </div>
                <div>
                    {{if .ReadmeFile.LastCommitMsg -}}
                    <p class="commit-info">
                        <a href="/{{.GlobalData.Config.RepoName}}{{.ReadmeFile.LastCommitLink}}">{{.ReadmeFile.LastCommitMsg}}</a>
                        <small>· {{.ReadmeFile.LastCommitAuthor}} · {{formatDate
                        .ReadmeFile.LastCommitDate}}</small>
                    </p>
                    {{- end}}
                </div>
            </div>
            <div class="readme-markdown">{{.ReadmeHTML}}</div>
        </div>
        {{else -}} {{template "fileview.html" .ReadmeFile -}} {{end -}} {{end
        -}} {{if .LicenseFound -}} {{template "fileview.html" .LicenseFile -}}
        {{end -}}
    </div>
    <div class="sidebar-divider"></div>
    <div class="sidebar">
        {{if gt .ContributorsCt 0 -}}
        <div class="contributors">
            <h3>Contributors ({{.ContributorsCt}})</h3>
            <ul>
                {{range .Contributors -}}
                <li>
                    <div class="contributor-name">{{.Name}}</div>
                    <div class="contributor-email">{{.Email}}</div>
                </li>
                {{end -}}
            </ul>
        </div>
        {{end -}}
        <div class="contributors">
            <h3>Branches ({{len .Branches}})</h3>
            <ul>
                {{range .Branches -}}
                <li><a href="#" class="disabled-link">{{.Name}}</a></li>
                {{end -}}
            </ul>
        </div>
        {{if gt (len .Tags) 0 -}}
        <div class="contributors">
            <h3>Tags ({{len .Tags}})</h3>
            <ul>
                {{range .Tags -}}
                <li><a href="#" class="disabled-link">{{.Name}}</a></li>
                {{end -}}
            </ul>
        </div>
        {{end -}}
    </div>
</div>
{{template "footer.html" . -}}
